<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/Ihaveadream19/xalostore/releases/download/untagged-9125e94c8a78ec094c9f/ImgAI_AI_Image_Generator-Xalo.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.idevtal.Wallpapers</string>
                <key>bundle-version</key>
                <string>5.84</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Xalo ImgAi</string>
            </dict>
        </dict>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/Ihaveadream19/xalostore/releases/download/untagged-cc45664876956bb20544/WhatsAppAll_Xalo.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>net.whatsapp.WhatsApp</string>
                <key>bundle-version</key>
                <string>25.20.5</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Xalo WhatsApp</string>
            </dict>
        </dict>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/Ihaveadream19/xalostore/releases/download/untagged-119b68e50df6537afe3e/Xalo.YouTube.+.20.29.3.5.2beta.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.google.ios.youtube</string>
                <key>bundle-version</key>
                <string>20.29.3</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Xalo YouTube+</string>
            </dict>
        </dict>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/Ihaveadream19/xalostore/releases/download/untagged-288d24e23dafe0cf3ea5/AI_ChatBot_Assistant_AskEasy_v2_30_Pro_Unlocked_Xalo.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.aichatbot.assistant</string>
                <key>bundle-version</key>
                <string>2.30</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Xalo AiChatBot</string>
            </dict>
        </dict>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/Ihaveadream19/xalostore/releases/download/untagged-3a220d8c37214071c5a9/MyFitnessPal_25.28.0_3Xalo.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.myfitnesspal.mfp</string>
                <key>bundle-version</key>
                <string>25.28.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Xalo MyFitnessPal</string>
            </dict>
        </dict>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/Ihaveadream19/xalostore/releases/download/untagged-16c296fa5c1e64d7a745/Truecaller_Caller_ID_Lookup_v14_21_Xalo.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.truesoftware.TrueCallerOther</string>
                <key>bundle-version</key>
                <string>14.21.5</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Xalo Truecaller</string>
            </dict>
        </dict>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/Ihaveadream19/Xalstor/releases/download/untagged-77154b797db3a85ea0c2/VideoGPT_AI_Video_Generator_v3_1_Subscription_Unlocked_blatant_patched.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.elven.video</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Xalo AIVideo</string>
            </dict>
        </dict>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/Ihaveadream19/Xalstor/releases/download/untagged-7d3a53b40a8c14f36cae/Instagram--Xalo.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.burbn.instagram</string>
                <key>bundle-version</key>
                <string>388.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Xalo Instagram</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
